body {
    background-color: black;
    display: flex;
    flex-direction:column;
    justify-content: center;  
    align-items: flex-end;      
    height: 100vh;            
    margin: 0;
}

#board {
    background-color: rgb(19, 0, 102);
    width: 800px;
    height: 500px;
    padding: 0;
    margin-right: 100px;
    position: relative;
    overflow: hidden;
}

#spaceship {
    width: 30px
}
