body {
    background-color: rgb(18, 3, 48);
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    margin: 0;
}

#board {
    background-color: rgb(19, 0, 102);
    width: 700px;
    height: 500px;
    padding: 0;
    margin: 0;
    position: relative;
}

#spaceship {
    width: 50px
}

